<h1>Détails de l'auteur</h1>
<p><strong>Prénom :</strong> <%= @user.first_name%></p>

<p><strong>Nom :</strong> <%= @user.last_name%></p>

<p><strong>Description :</strong> <%= @user.description %></p>

<p><strong>Email :</strong> <%= @user.email %></p>

<p><strong>Age :</strong> <%= @user.age %></p>

<p><strong>Ville :</strong> <%= link_to "#{@user.city.name}", city_path(@user.city) %></p>


<%= link_to 'Retour à la liste des potins', gossips_path, class: 'btn btn-secondary' %>



